if [ "$AUDITBOARD_DEV_ENV" != true ]; then
  source PATH_TO_AUDITBOARD_DEV_ENV_HERE/.envrc
fi

NVM_SCRIPT=$NVM_DIR/nvm.sh

if [ -e $NVM_SCRIPT ]; then
  source $NVM_SCRIPT
  nvm install
fi

export NODE_PATH=`which node`
export PATH=$(PWD)/bin:node_modules/.bin:$PATH
